<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Baratto gestionale</title>

<%= stylesheet_link_tag 'admin' %>
<%= stylesheet_link_tag 'tabs' %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>

<script type="text/javascript">
<%= emit_behaviors %>;
<%= yield :javascript %>
</script>

</head>
<body>

<div id='main'>

	<div id='top'>
		<div id='shop_title'>Gestione costi Baratto Spedizioni</div>
		<div id='topquicklinks'>Bentornato <%= current_user.name rescue nil %></div>
	</div>

	<%= render :partial => '/layouts/menuadmin' %>

	<div id='pagecontent'>
		<%= yield %>
	</div>

	<div id='footer'>
		<div id='footermainblock'></div>
	</div>

</div>

</body>
</html>
